<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around flex-start"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="50" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>


  <div fxFlex="50" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h2>Comments</h2>
        </md-card-title>
      </md-card-header>
      <md-card-content *ngIf="comments">
        <md-list *ngFor="let comment of dish.comments">
          <md-list-item fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
            <p md-line>{{comment.comment}}</p>
            <p md-line>{{comment.rating}} Stars</p>
            <p md-line>-- {{comment.author}} {{comment.date | date: 'MMM dd, yyyy'}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
  <div [hidden]="dish">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
</div>

<!--  

  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
 <p>
      <md-input-container class="half-width"
       dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
        <input mdInput formControlName="firstname" placeholder="First Name" type="text" required>
        <md-hint>
          <span [hidden]="!(formErrors.firstname)">
            {{formErrors.firstname}}</span>
        </md-hint>
      </md-input-container>
<p>
      <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
</p>
  <p>
      <md-input-container class="full-width">
        <textarea mdInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
      </md-input-container>
    </p>
    <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
  </form>
  
  
  ->
